<!doctype html>
<html>
<head>
  <title>Community Hall Planner</title>
  <link rel="stylesheet" href="/styles/stylesheet.css">
</head>
<body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/classrooms">Classrooms</a>
      <a href="/instructors">Instructors</a>
      <a href="/classes">Classes</a>
  </div>
	{{{body}}}
</body>
</html>